{% extends 'base.html' %}

{% block content%}
<form action="{{url_for('signup')}}" method='POST'>
    <div class="containre" style="display: flex; justify-content: center; margin-top: 5rem;">
    <div class="cont rounded" style="width: 50vh; border: 2px solid black; padding:3rem; background-color: #D5D4BC;">
        <div class="head" style="text-align: center; font-size: 2rem; color: #7A4ED9; font-weight: bold;">
            <p>Sign up</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="log" style="display: flex; justify-content: center; align-items: center;">
        <button type="submit" class="btn btn-primary">Create Account</button>
        </div>
</form>
</div>
</div>
{% endblock %}